[
    { rabbit, [
        { auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_http] },
        { loopback_users, [ ] },
        {tcp_listeners, [5672]},
        {rabbitmq_management, [{listener, [{port, 15672}]}]},
        { default_user, <<"admin">> },
        { default_pass, <<"ludington12345">> },
        { default_consumer_prefetch, {false, 250} }
    ]},

    { rabbitmq_auth_backend_http, [
        { http_method, get },
        { user_path, "http://127.0.0.1:12451/v1/amqp/user" },
        { vhost_path, "http://127.0.0.1:12451/v1/amqp/vhost" },
        { resource_path, "http://127.0.0.1:12451/v1/amqp/resource" }
    ]}
].